{% extends "layout.html" %}
{% block content %}

<!-- Main content -->
<div class="container has-text-centered">

<div class="card">
  <div class="card-image">
    <figure class="image is-16by9 has-ratio">
      <video class="has-rounded-border" autoplay loop muted 
             preload="metadata" playsinline 
             poster="https://r2.seemsgood.org/content/media/sg-logo-black-white.png">
        <source src="https://r2.seemsgood.org/content/media/sg-logo-spin.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      <!-- About Box -->
      <div class="box">
        <h3 class="title is-3">About Us</h3>
        <p class="subtitle has-text-left">
        Seems Good is a 2-day guild seeking players to achieve Cutting Edge. We aim to clear content at a quick pace while raiding only 6 hours a week. Our goal is to improve every tier, swapping time for quality.
        </p>
      </div>
    </div>

    <!-- Raid Info Box -->
    <div class="box">
      <h3 class="title is-3">Raid Days/Times</h3>
      <p class="subtitle has-text-left">Tuesdays and Thursdays from 8:00 PM - 11:00 PM EST</p>
      <p class="subtitle has-text-left">Expectation: Everyone online 10 minutes before raid start
    </div>

    <!-- Progression Box -->
    <div class="box">
      <h3 class="title is-3">Progression</h3>
      <p class="subtitle has-text-left">Season 1 TWW Progress: <span class="has-text-weight-bold">6/8M</span>Nerub-ar Palace</p>
      <p class="subtitle has-text-left">Season 2 TWW Progress: <span class="has-text-weight-bold">8/8M</span>Liberation of Undermine</p>

    </div>

    <!-- Contact Box -->
    <div class="box">
      <h3 class="title is-3">Contacts</h3>
      <p class="subtitle has-text-left"> 
      <span class="has-text-weight-bold"> 
        GM/Officer:
      </span>
      </p>
          {% for contact in contacts %}
          {% include "assets/contact-card.html" %}
          {% endfor %}
    </div>

    <!-- Are You A Good Fit Box -->
    <div class="box">
      <h3 class="title is-3">Are You A Good Fit?</h3>
      <p class="subtitle has-text-left">We are looking for dedicated players who want to push into Mythic and achieve Cutting Edge as quickly as possible while maintaining a lighthearted, fun environment. If you're driven and committed, while still wanting to enjoy the game, you're a perfect fit!</p>
    </div>
  </div>
<!-- Guild Community Card -->
<div class="container has-text-centered">
  <div class="box">
    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9 has-ratio">
          <video class="has-rounded-border" autoplay loop muted controls 
                 preload="metadata" playsinline 
                 poster="https://r2.seemsgood.org/content/media/sg-logo-black-white.png">
            <source src="https://r2.seemsgood.org/content/media/Seems_good.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
        </figure>
      </div>
      <div class="card-content">
        <div class="content has-text-centered">
          <p class="title is-4"> Positive & Engaging Community</p>
          <p class="subtitle is-6"> A close group of friends who love Warcraft and pets!</p>
          <p class="subtitle has-text-left">
            Whether you raid with us or enjoy other games, our guild is about building meaningful connections and having fun together. 
            Join us for mythic raids or casual gaming with friends!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
