{% extends "layout.html" %}
{% block content %}

<!-- js and css for 'raid-frames/scrolling-events' popup -->
{% include "assets/roster-players.html" %}

<!-- Box Wrapper -->
<div class="box">
 <!-- Current Season Events/Progress Tracker -->
  <div class="container has-text-centered">
    {% include "assets/wcl-progress-card.html" %}
    <!-- 'scrolling-events' marquee animation --> 
    {% include "assets/scrolling-events.html" %}
    <div class="scroll-container">
      <div class="scroll-content" id="scrollContent"></div>
    </div>
  </div>

  <!--  Season Raid Progress Card -->
  <div class="container has-text-centered">
    {% for card in raid_metadata %}
    {% include "assets/season-card.html" %}
    {% endfor %}
  </div>

<!-- Close Content Box -->
</div>

{% endblock %}
