{% extends "layout.html" %}
{% block content %}

<div class="container is-center">
  <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQiC0lL_XhgD3pIYEm57BMGCQaJQi7021UM7Nl80-QhAPotWrO0VeGF4mijPFwciVzrQdRliLmgLxB2/pubhtml?widget=true&amp;headers=false"  
        width="100%" height="800" 
        frameborder="0" marginheight="0"
        marginwidth="0">
        Loading…
    </iframe>
</div>
<!-- useful links to wowaudit pages. -->
<div class="container is-flex is-justify-content-center is-align-items-center is-flex-wrap-wrap"
     style="gap:10px; margin-top:20px; margin-bottom:70px;">

  <a class="button is-link is-outlined is-clickable"
     href="https://wowaudit.com/sheet/us/stormrage/seems-good/main">
    <span class="icon">
      <i class="nf nf-md-microsoft_excel"></i>
    </span>
    <span>View Spreadsheet</span>
  </a>

  <a class="button is-link is-outlined is-clickable"
     href="https://www.wowaudit.com/us/stormrage/seems-good/main/neighborhood?map_id=1&layer_index=0">
    <span class="icon">
      <i class="nf nf-fa-house_chimney"></i>
    </span>
    <span>Neighborhood Planner</span>
  </a>

  <a class="button is-link is-outlined is-clickable"
     href="https://www.wowaudit.com/us/stormrage/seems-good/main/wishlists/loot_history">
    <span class="icon">
      <i class="nf nf-fa-history"></i>
    </span>
    <span>Loot History</span>
  </a>
</div>

{% endblock %}
